<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title>to do list</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="css/style.css">
 <head><p class="size"> TO DO LIST</p></head>
</head>
<body>
    <div class="box">
        <% for(var i=0;i<tasks.length;i++){ %>
            <div class="item">
                <input type="checkbox">
            <p><%= tasks[i]%> </p> </div>
      <% } %>

    <form class="item" action="/" method ="post">
        <input type="text" name="task" placeholder="Enter your task"> 
        <button type="submit">+</button>
    </form>
</body>
</html>

